<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    {{>headerlinks}}


    <style>
 #sidebar ul li.dash a{
    color: #5e63ff;
    svg{
        fill: #5e63ff;
    }
 }
    </style>
</head>
<body>
    {{>adminsidenav}}
    <main>
        <div class="container text-center">
            <h1 class="text-secondary">
               COMING SOON... 
            </h1>
            
        </div>
    </main>
</body>
</html>