<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{>headerlinks}}

    <title>Aabhara</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
      <link rel="icon" type="image/x-icon" href="./Logos/aabhaar.png">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body>
    {{>navbar}}

    <div class="container">
        <div class="hero-section">

            <lottie-player src="/images/Infinite Loader (1).json" background="transparent" speed="1" loop autoplay>
            </lottie-player>


            <div>

                <h1 class="fw-bold">Start Selling and Growing with Us!
                </h1>
            </div>
            <h6 class="text-secondary pt-4">Join our gifting marketplace where thousands of customers are looking for
                products like
                yours.</h6>

            <div class="action-btn-container">
                <a href="#explore"> <button class="action-btn"> Explore More</button></a>
            </div>
        </div>
    </div>


    <div class="what-we-do-container">
        <div class="what-we-do">
            <div class="heading text-center m-4">
                
                <h3 class="text-center fw-bold">What <span style="color: #4DB6AC;">We</span> Do</h3>
                <p class="my-4 text-secondary">Empowering vendors to reach a  
             {{!-- <lottie-player src="/images/Gift Box.json" background="transparent"  speed="1"  style="width: 40px;" loop controls autoplay></lottie-player> --}}
                    <img width="40px" src="/images/gift-box.png" alt="">
                    gifting-focused audience effortlessly</p>


                
            </div>
            
<div class="some-body">
    <div class="div1">
        <img src="/images/gift.svg" alt="">
        <h6>Targeted Audience</h6>
        <p>Reach a dedicated audience searching for unique gifts for every occasion.</p>
    </div>
    <div class="div2">
        <img src="/images/boost.svg" alt="">
        <h6>Boost Your Visibility</h6>
        <p>Get featured in our marketplace promotions and social media campaigns.</p>
    </div>
    <div class="div3">
        <img src="/images/business (1).svg" alt="">
        <h6>Support for All Businesses</h6>
        <p>Whether you're an individual or a large enterprise, we help you succeed.</p>
    </div>
    <div class="div4">
        <img src="/images/growth.svg" alt="">
        <h6>Grow Your Business</h6>
        <p>Access detailed analytics and insights to optimize your sales strategy.</p>
    </div>
    <div class="div5">
        <img src="/images/online-store.svg" alt="">
        <h6>Simplify Selling</h6>
        <p>Set up your online store in minutes with our user-friendly tools.</p>
    </div>
    <div class="div6">
        <img src="/images/secure-payment.svg" alt="">
        <h6>Secure & Fast Payments</h6>
        <p>Enjoy transparent payment processing with no hidden fees.</p>
    </div>
   
</div>
    
        </div>
    </div>

    <div class="container">
        <div id="pitch-sec" class="pitch-section d-flex mt-5 mb-3">
            <div class="pitch-section-1" style="display: flex; align-items:center; width:50%;margin-right:8px">

                <h3>Why <span style="color:#4db6ac">partner</span> with us?</h3>
            </div>
            <div class="features-us">
                <div class="parent">
                    <div class="div1">
                        {{!-- <img width="20px" src="/images/profit.svg" alt=""> --}}
                        <div>
                            <h6>Lowest Commission Promised!</h6>
                            <p>Maximize your profits with low commission rates that prioritize your growth</p>
                        </div>
                    </div>
                    <div class="div2">
                        <div>
                            <h6>Unlimited Products</h6>
                            <p>No limit of the products. Setup your store as you want.</p>
                        </div>
                    </div>
                    <div class="div3">
                        <div>
                            <h6>Broad Reach</h6>
                            <p>Expand your reach to thousands of customers looking for unique gifts for every occasion.
                            </p>
                        </div>
                    </div>
                    <div class="div4">
                        <div>
                            <h6>For small, Medium to Large Business</h6>
                            <p>Whether you’re just starting or are an established business we are here for you!</p>
                        </div>
                    </div>
                    <div class="div5">
                        <div>
                            <h6>Support at Every Step</h6>
                            <p>From onboarding to selling, our dedicated vendor support team is here for you.</p>
                        </div>
                    </div>
                    <div class="div6">
                        <div>
                            <h6>Easy-to-Use Platform</h6>
                            <p>Start selling quickly with our user-friendly setup and management tools, perfect for any
                                skill level.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="bind-container">

        <div class="custom-shape-divider-top-1731587920">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="container">
            <div class="section my-5 p-5">
                <div class="non-registerd">
                    <h4 class="text-center text-light fw-bold">Dedicated support to Non-Registered business and
                        indiviuals.</h4>
                    <p class="text-center my-3 " style="color: #F1B97D;">Not Registerd? No Problem.</p>

                    {{!-- <p class="text-center p-2 pt-4" style="">Perfect for hobbyists, crafters, and anyone with a
                        passion!</p> --}}

                    <div class="content">
                        <div class="content__container">
                            <p class="content__container__text">
                                Perfect for
                            </p>

                            <ul class="content__container__list">
                                <li class="content__container__list__item">Hobbyists !</li>
                                <li class="content__container__list__item">Crafters !</li>
                                <li class="content__container__list__item">Designer !</li>
                                <li class="content__container__list__item">Anyone with Passion !</li>
                            </ul>
                        </div>
                    </div>

                    <div class="indiv p-5">
                        <div class="indiv-card-1">
                            <svg class="indiv-card-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                id="registration">
                                <path
                                    d="M31.231,13A2,2,0,0,0,28.4,13l-1,1h0l-3.218,3.218V7.5a.482.482,0,0,0-.013-.064.456.456,0,0,0-.012-.062.492.492,0,0,0-.121-.227l-7-7A.492.492,0,0,0,16.81.025a.452.452,0,0,0-.061-.012A.484.484,0,0,0,16.683,0h-14a2.5,2.5,0,0,0-2.5,2.5v27a2.5,2.5,0,0,0,2.5,2.5h19a2.5,2.5,0,0,0,2.5-2.5V22.876l6.046-6.046h0l1-1A2,2,0,0,0,31.231,13ZM17.183,1.707,22.476,7H18.683a1.5,1.5,0,0,1-1.5-1.5ZM16.7,7H4.683a.5.5,0,0,1-.5-.5v-2a.5.5,0,0,1,.5-.5h11.5V5.5A2.476,2.476,0,0,0,16.7,7Zm6.487,22.5a1.5,1.5,0,0,1-1.5,1.5h-19a1.5,1.5,0,0,1-1.5-1.5V2.5A1.5,1.5,0,0,1,2.683,1h13.5V3H4.683a1.5,1.5,0,0,0-1.5,1.5v2A1.5,1.5,0,0,0,4.683,8h18.5V18.219L17.442,23.96a.475.475,0,0,0-.058.088c-.01.016-.027.025-.035.042l-1.414,2.828a.492.492,0,0,0,.068.527l-.622.628a.5.5,0,1,0,.711.7l.605-.612.038.038a.5.5,0,0,0,.577.094l2.828-1.415c.017-.008.026-.025.042-.035a.475.475,0,0,0,.088-.058l2.913-2.912Zm-5.25-4.342,1.14,1.14-1.885.943-.135-.136,0-.006-.006,0-.052-.052Zm5.4-2.844,0,0-3.412,3.411L18.5,24.314l9.252-9.252,1.414,1.414Zm7.193-7.193-.648.648-1.415-1.415.648-.648a1,1,0,1,1,1.415,1.415ZM8.683,16h12a.5.5,0,0,0,0-1h-12a.5.5,0,1,0,0,1Zm0-3h12a.5.5,0,0,0,0-1h-12a.5.5,0,1,0,0,1Zm5,14.925a1.78,1.78,0,0,1-1.077-.329,2.923,2.923,0,0,0-3.183,0,1.78,1.78,0,0,1-1.077.329A1.778,1.778,0,0,1,7.272,27.6a2.752,2.752,0,0,0-1.589-.472.5.5,0,1,0,0,1,1.778,1.778,0,0,1,1.075.329,2.752,2.752,0,0,0,1.589.472,2.761,2.761,0,0,0,1.591-.471,1.926,1.926,0,0,1,2.153,0,2.761,2.761,0,0,0,1.591.471.5.5,0,0,0,0-1ZM8.683,11h12a.5.5,0,0,0,0-1h-12a.5.5,0,1,0,0,1Zm0,7h12a.5.5,0,0,0,0-1h-12a.5.5,0,1,0,0,1Zm-4,0a1.5,1.5,0,1,0-1.5-1.5A1.5,1.5,0,0,0,4.683,18Zm0-2a.5.5,0,1,1-.5.5A.5.5,0,0,1,4.683,16Zm1.5,5.5a1.5,1.5,0,1,0-1.5,1.5A1.5,1.5,0,0,0,6.183,21.5Zm-1.5.5a.5.5,0,1,1,.5-.5A.5.5,0,0,1,4.683,22Zm4-1h8a.5.5,0,0,0,0-1h-8a.5.5,0,1,0,0,1Zm-4-8a1.5,1.5,0,1,0-1.5-1.5A1.5,1.5,0,0,0,4.683,13Zm0-2a.5.5,0,1,1-.5.5A.5.5,0,0,1,4.683,11Zm4,12h8a.5.5,0,0,0,0-1h-8a.5.5,0,1,0,0,1Z"
                                    fill="#4db6ac" class="color000000 svgShape"></path>
                            </svg>
                            <h6>No Business Registration Required</h6>
                            <p class="indiv-p">Whether you’re an individual or just starting out, you can sell on our
                                platform without needing an official business registration.</p>
                        </div>
                        <div class="indiv-card-2">
                            <svg class="indiv-card-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 96 96" id="GrowUp">
                                <path stroke="#4db6ac" stroke-linecap="round" stroke-width="5"
                                    d="M80.1163 27.6553L82.759 18.1177C83.4227 15.7227 82.0191 13.2431 79.6241 12.5795L70.2583 9.98433"
                                    class="colorStroke000000 svgStroke"></path>
                                <rect width="7" height="32" x="13" y="54.666" stroke="#4db6ac" stroke-width="5" rx="3.5"
                                    class="colorStroke000000 svgStroke"></rect>
                                <rect width="7" height="38" x="34" y="48.666" stroke="#4db6ac" stroke-width="5" rx="3.5"
                                    class="colorStroke000000 svgStroke"></rect>
                                <rect width="7" height="44" x="55" y="42.666" stroke="#4db6ac" stroke-width="5" rx="3.5"
                                    class="colorStroke000000 svgStroke"></rect>
                                <rect width="7" height="50" x="76" y="36.666" stroke="#4db6ac" stroke-width="5" rx="3.5"
                                    class="colorStroke000000 svgStroke"></rect>
                                <path stroke="#4db6ac" stroke-linecap="round" stroke-width="5"
                                    d="M13 40.4998L71.5 20.4996" class="colorStroke000000 svgStroke"></path>
                            </svg>
                            <h6>Grow at Your Own Pace</h6>
                            <p class="indiv-p">We provide flexible options so you can scale your sales when you're
                                ready, with tools to help you along the way.</p>
                        </div>
                        <div class="indiv-card-3">

                            <svg class="indiv-card-svg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                                id="Startup" x="0" y="0" version="1.1" viewBox="0 0 101 101">
                                <path
                                    d="M71.3 74.9c1.3 0 2.4-1.1 2.4-2.4v-4.9c0-4.8-2-9.3-5.4-12.6.2-1.5.4-3 .4-4.5 0-16.6-15.9-32.7-16.5-33.4-.5-.5-1.1-.7-1.7-.7-.6 0-1.3.3-1.7.7-.7.7-16.4 16.8-16.4 33.4 0 1.4.1 2.9.4 4.4-3.5 3.3-5.5 7.8-5.5 12.7v4.9c0 1.3 1.1 2.4 2.4 2.4s2.4-1.1 2.4-2.4v-4.9c0-2.5.7-4.9 2.1-7 .7 2.2 1.7 4.4 2.8 6.7.4.8 1.2 1.3 2.1 1.3h9v3.8c0 1.3 1.1 2.4 2.4 2.4s2.4-1.1 2.4-2.4v-3.8H62c.9 0 1.7-.5 2.1-1.3 1.2-2.2 2.1-4.5 2.8-6.6 1.3 2 2 4.4 2 6.8v4.9c0 1.4 1.1 2.5 2.4 2.5zM60.5 63.8h-7.6V60c0-1.3-1.1-2.4-2.4-2.4s-2.4 1.1-2.4 2.4v3.8h-7.5c-1.4-2.9-2.3-5.6-2.9-8.3 0-.2-.1-.4-.1-.5-.3-1.6-.5-3.1-.5-4.6 0-11.6 9.4-23.6 13.3-28.1 4 4.5 13.4 16.5 13.4 28.1.1 4.1-1 8.6-3.3 13.4z"
                                    fill="#4db6ac" class="color000000 svgShape"></path>
                                <path
                                    d="M50.6 35.1c-4.8 0-8.6 3.9-8.6 8.6s3.9 8.6 8.6 8.6 8.6-3.9 8.6-8.6-3.8-8.6-8.6-8.6zm0 12.5c-2.1 0-3.8-1.7-3.8-3.8s1.7-3.8 3.8-3.8 3.8 1.7 3.8 3.8-1.7 3.8-3.8 3.8zM39.6 82.2v-8c0-1.3-1.1-2.4-2.4-2.4s-2.4 1.1-2.4 2.4v8c0 1.3 1.1 2.4 2.4 2.4s2.4-1.1 2.4-2.4zM66.2 82.2v-8c0-1.3-1.1-2.4-2.4-2.4s-2.4 1.1-2.4 2.4v8c0 1.3 1.1 2.4 2.4 2.4s2.4-1.1 2.4-2.4z"
                                    fill="#4db6ac" class="color000000 svgShape"></path>
                            </svg>


                            <h6>Easy Start-Up Process</h6>
                            <p class="indiv-p">Our marketplace is built for everyone, including individuals and
                                small-scale sellers. Set up your shop quickly and showcase your unique products to a
                                broad audience.</p>
                        </div>
                        <div class="indiv-card-4">

                            <svg class="indiv-card-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                id="Support">
                                <g fill="#b2c9c7" class="color000000 svgShape">
                                    <g fill="none" stroke="#4db6ac" stroke-linecap="round" stroke-linejoin="round"
                                        class="colorStroke303c42 svgStroke">
                                        <circle cx="17" cy="3.51" r="3" fill="#b2c9c7" class="color000000 svgShape">
                                        </circle>
                                        <path
                                            d="M17 8.51a11.52 11.52 0 0 0-5.14 1.37 2.51 2.51 0 0 0-1.36 2.23v.46a.93.93 0 0 0 .93.94h11.14a.93.93 0 0 0 .93-.94v-.46a2.51 2.51 0 0 0-1.36-2.23A11.52 11.52 0 0 0 17 8.51Z"
                                            fill="#b2c9c7" class="color000000 svgShape"></path>
                                        <g fill="#b2c9c7" class="color000000 svgShape">
                                            <path
                                                d="m.5 13.5 4.07.81a1 1 0 0 1 .79 1.12l-.74 5.2a1 1 0 0 1-1 .86H.5zm5 2a10.15 10.15 0 0 1 3-.5c1.58 0 2.49 1.09 4.5 1.5s3.5.94 3.5 2-1.62 1.59-7 0"
                                                fill="#b2c9c7" class="color000000 svgShape"></path>
                                            <path
                                                d="M16.5 19a25.15 25.15 0 0 1 4.5-1c1.25 0 2.5.5 2.5 1.5-1.71.75-7.67 4-10 4s-8.5-3-8.5-3"
                                                fill="#b2c9c7" class="color000000 svgShape"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>


                            <h6>Supportive Community</h6>
                            <p class="indiv-p">Join a community of like-minded sellers, gain valuable tips, and grow
                                your business—no matter where you’re starting from.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="explore" class="container-feature">
            <div class="features">
                <h3 class="text-center text-light fw-bold">Features and Benifits</h3>
                <div class="card-container-1 d-flex my-5">

                    <div class="marquee-text">
                        <div class="marquee-text-track">
                            <p><i class="fa-solid fa-circle-check"></i> Easy Store Setup</p>
                            <p><i class="fa-solid fa-circle-check"></i> Vendor First Approch</p>
                            <p><i class="fa-solid fa-circle-check"></i> Real Time Dashboard</p>
                            <p><i class="fa-solid fa-circle-check"></i> Multiple Payment Options</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Easy Store Setup</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Vendor First Approch</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Real Time Dashboard</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Multiple Payment Options</p>

                        </div>
                    </div>
                    <div class="marquee-text">
                        <div class="marquee-text-track-2">
                            <p><i class="fa-solid fa-circle-check"></i> Easy Payouts</p>
                            <p><i class="fa-solid fa-circle-check"></i> No Limits on Products</p>
                            <p><i class="fa-solid fa-circle-check"></i> Full access to Features</p>
                            <p><i class="fa-solid fa-circle-check"></i> Inventory management</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Easy Payouts</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> No Limits on Products</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Full access to Features</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Inventory management</p>

                        </div>
                    </div>
                    <div class="marquee-text">
                        <div class="marquee-text-track">
                            <p><i class="fa-solid fa-circle-check"></i> Multiple Catagoires</p>
                            <p><i class="fa-solid fa-circle-check"></i> Broad Audience</p>
                            <p><i class="fa-solid fa-circle-check"></i> Easy Customization</p>
                            <p><i class="fa-solid fa-circle-check"></i> Unilimited Coupons</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Multiple Catagoires</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Broad Audience</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Easy Customisation</p>
                            <p aria-hidden="true"><i class="fa-solid fa-circle-check"></i> Unilimited Coupons</p>

                        </div>
                    </div>




                </div>
            </div>
        </div>

        <div class="custom-shape-divider-bottom-1731655168">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
            </svg>
        </div>

    </div>
    <div class="container">
        <div id="plans-section" class="plans-sec my-5">
            <div class="plan-head">
                <h3 style="color: #EA9841;" class="text-center">Limited Period Time Offer!</h3>
                <h5 class="text-center p-3">Zero Cost Setup + Free Plan </h5>

                <div class="svg-contianer text-center">

                    <svg class="arrow-svg" viewBox="0 -76.5 193 193" fill="none" xmlns="http://www.w3.org/2000/svg"
                        transform="rotate(0)matrix(1, 0, 0, -1, 0, 0)" stroke="#E51919">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M173.928 21.1292C115.811 44.9386 58.751 45.774 0 26.1417C4.22669 21.7558 7.81938 23.4266 10.5667 24.262C31.7002 29.9011 53.4676 30.5277 75.0238 31.3631C106.09 32.6162 135.465 25.5151 164.207 14.0282C165.475 13.6104 166.532 12.775 169.068 11.1042C154.486 8.18025 139.903 13.1928 127.223 7.34485C127.435 6.50944 127.435 5.46513 127.646 4.62971C137.156 4.00315 146.877 3.37658 156.388 2.54117C165.898 1.70575 175.196 0.661517 184.706 0.0349538C191.68 -0.382755 194.639 2.9589 192.103 9.22453C188.933 17.3698 184.495 24.8886 180.48 32.6162C180.057 33.4516 179.423 34.4959 178.578 34.9136C176.253 35.749 173.928 35.9579 171.392 36.5845C170.97 34.4959 169.913 32.1985 170.124 30.3188C170.547 27.8126 172.026 25.724 173.928 21.1292Z"
                                fill="#E51919"></path>
                        </g>
                    </svg>
                </div>
                <div class="flex-box-cont d-flex my-5">
                    <div class="box1 text-center m-3 p-3">


                        <h3 style="color:#4DB6AC;" class="p-3 fw-bold">Free for All</h3>
                        <h6>₹0 Setup Cost</h6>
                        <h6>₹0 Monthly Subscriptions
                        </h6>
                        <small class="text-secondary">*Limited Period Deal</small>
                    </div>
                    <div class="box2">
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Unlimited Products</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Publish Product Directly
                        </div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Digital Products</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Vast Catagoires</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Create Coupons</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Multiple Address</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Live Dashboard</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Analytics and Reporting
                        </div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Store SEO</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Product SEO</div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Responsive Support Team
                        </div>
                        <div class="benifits"><img width="25px" src="/images/check.png" alt=""> Unlimited Members</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container  text-center">
        <div class="social-media-invite m-5 p-3">
            <h3>Connect with Us on Social Media!</h3>
            <p class="text-secondary">Stay updated, get inspired, and be part of a growing community of successful
                vendors.</p>

            <div class="icon-container">
                <a class="social-icon-link" target="_blank" href="https://www.instagram.com/aabhara.india"><i class="fa-brands fa-instagram"></i></a>

                <a class="social-icon-link" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a class="social-icon-link" href="#"><i class="fa-brands fa-telegram"></i></a>
            </div>
        </div>
    </div>




    <div class="svg-design">

        <div class="custom-shape-divider-top-1731587920">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="container">






            <div class="final-cta my-4 p-2">
                <div class="item-container text-light">


                    <h2 class="text-center pb-3 fw-bold">Ready to Grow Your Business?</h2>
                    <h6 class="text-center">Join our growing community of successful vendors and start reaching more
                        customers
                        today!</h6>

                </div>
                <div id="form" class="form-container">
                    <div class="form">
                        <h5 class="text-center">Fill out the below form! We will get back to you!</h5>

                        <form class="px-5 py-3" action="/leadform" method="POST">
                        
                            {{#if messages.submited}}
                            <div class="alert" id="success-alert" role="alert">
                                <i class="fa-solid fa-circle-check"></i> Thank You for your interest. We will get back
                                to you!
                            </div>
                            {{/if}}
       
                            {{#if messages.failed}}
                            <div class="alert alert-dark" id="failrd-alert" role="alert">
                                <i class="fa-solid fa-circle-exclamation"></i> Oops Can't Proceed! Please try again
                                later.
                            </div>
                            {{/if}}
                            <div class="p-2">
                                <input placeholder="Name*" type="text" name="bname" class="input-cta">

                            </div>
                            <div class="p-2">
                                <input placeholder="Bussiness Email*" type="email" name="b_email" class="input-cta">

                            </div>
                            <div style="display: none;" class="p-2">
                                <input placeholder="Detector*" type="email" name="spam_email" class="input-cta">

                            </div>
                            <div class="p-2">
                                <input placeholder="Phone*" type="phone" name="phone" class="input-cta">

                            </div>
                            <div class="p-2">
                                <input placeholder="Best Selling Product (Any one)" type="text" name="productBS"
                                    class="input-cta">

                            </div>

                            <div>

                                <div class="mydict p-2">
                                    <label for="">Business Type*</label>
                                    <div>
                                        <label>
                                            <input type="radio" value="Registered" name="b_type" checked="">
                                            <span>Registered</span>
                                        </label>
                                        <label>
                                            <input type="radio" value="Not-Registered" name="b_type">
                                            <span>Non-Registered</span>
                                        </label>
                                        <label>
                                            <input type="radio" value="Individual" name="b_type">
                                            <span>Individual</span>
                                        </label>

                                    </div>
                                </div>
                                <div class="p-2">
                                    <textarea placeholder="Additional Information" rows="4" name="info"
                                        class="input-cta"></textarea>

                                </div>
                            </div>

                            {{!-- <div class="g-recaptcha" data-sitekey="6Lf_soEqAAAAAMaMmqhsg2M6u48Q6-crKb8f6Eh2"></div> --}}
                            <br />
                            {{!-- 6Lf_soEqAAAAANqjpei5FDCtKSfwBWhjINn9pQpw --}}

                            <div class="text-center">
                                <div class="btn-container">
                                    <button class="submit-btn">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer mt-3 p-4">
            <div class="text-light text-center">
                <small>&#169; 2025. All rights reserved. | aabhaarindia.com | support@aabhaarindia.com</small>

            </div>
        </div>

    </div>




    <script src="/js/script2.js"></script>

</body>

</html>